<%- include('../../includes/head.ejs') %>
</head>
<body>
<div class="wrapper">
    <%- include('../../includes/navigations-tbcare.ejs') %>
    <div id="content-page" class="content-page">
        <%- include('../../includes/top-navbar.ejs') %>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                            <div class="iq-header-title">
                                <h4 class="card-title"><%= pageHeader %></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <% if (patients.length > 0) { %>
                    <% patients.forEach(patient => { %>
                        <div class="col-md-6 col-lg-4">
                            <div class="iq-card">
                                <div class="iq-card-body text-center">
                                    <div class="doc-profile">
                                        <img class="rounded-circle img-fluid avatar-80" src="/images/user/1.jpg" alt="profile">
                                    </div>
                                    <div class="iq-doc-info mt-3">
                                        <h4><%= patient.fullName.first %> <%= patient.fullName.last %></h4>
                                        <p class="mb-0">Participant ID: <%= patient.tbcareProfile ? patient.tbcareProfile.participantId : 'N/A' %></p>
                                    </div>
                                    <a href="/tbcare/patient-history/<%= patient._id %>" class="btn btn-primary mt-3">View History</a>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                <% } else { %>
                    <div class="col-12">
                        <p class="text-muted">No patients found assigned to you.</p>
                    </div>
                <% } %>
            </div>
        </div>
        <%- include('../../includes/footer.ejs') %>
    </div>
</div>
<%- include('../../includes/end.ejs') %>
</body>
</html>